################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/front-end/node_modules/
/front-end/.next/
/front-end/dist/
/front-end/out/
*.log
.env*
/back-end/LexTributo.Api/obj
/back-end/.vs
